.icon-twitter {
	background-image: url("../media/image/twitter.png");
}

.icon-facebook {
	background-image: url("../media/image/facebook.png");
}

.icon-behance {
	background-image: url("../media/image/behance.png");
}

.icon-dribble {
	background-image: url("../media/image/dribble.png");
}

.icon-vimeo {
	background-image: url("../media/image/vimeo.png");
}

.icon-menu {
	background-image: url("../media/image/menu-2.png");
}

.icon-person {
	background-image: url("../media/image/person.png");
}

.icon-message {
	background-image: url("../media/image/message.png");
}

.icon-gear {
	background-image: url("../media/image/gear.png");
}
