header {
	background-color: gray;
	height: 400px;
}

header > nav ul li{
	display: inline;
	
}

a{
	text-decoration: none;
	font-size: 30px;
	color: white;
}

header > nav a:hover{
	color: orange;
}

header > nav > ul{
	text-align: right;
}

header h1{
	text-align: center;
	font-size: 60px;
	color: honeydew;
}

header h3{
	text-align: center;
	font-size: 40px;
	color: lavenderblush;
}