#round-border {
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

}

#square-text {
  padding-left: 30px;
  padding-right: 30px;

}

#clearing {
  overflow: auto;

}

#under {
  z-index: 1;
}

#among {
  z-index: 2;
}

#above {
  z-index: 3;
}
