@font-face {
  font-family: GRmedium;
  src: url('../fonts/Gotham Rounded Medium.otf') format("truetype");
}
@font-face {
  font-family: GRbook;
  src: url('../fonts/Gotham Rounded Book.otf') format("truetype");
}
#round-border {
  border: 2px solid #51E3A4;
  border-radius: 50%;
}
#square-text {
  padding-left: 30px;
  padding-right: 30px;
}
#clearing {
  overflow: auto;
}
#under {
  z-index: 1;
}
#among {
  z-index: 2;
}
#above {
  z-index: 3;
}
html,
body {
  width: 100%;
  background-color: #f0efe9;
}
form {
  width: 750px;
  margin: auto;
  background-color: white;
  padding: 150px;
  position: relative;
}
.date {
  font-family: GRmedium;
  color: #616473;
  width: 100%;
  overflow: auto;
}
.date h1 {
  font-size: 4em;
  float: right;
  margin: 0px;
  padding-top: 5px;
}
.date h2 {
  font-size: 5em;
  float: left;
  margin: 0px;
  padding-top: 5px;
}
.date div:first-of-type {
  width: 50px;
  float: left;
  padding-left: 15px;
  font-size: 1.7em;
  margin-top: 15px;
}
.date div:first-of-type h3 {
  margin: 0px;
}
.chbox {
  width: 100%;
  font-family: GRbook;
  margin-top: 120px;
  position: relative;
  font-size: 2.7em;
  font-weight: 500;
  color: #3e434f;
}
.chbox input {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  width: 70px;
  height: 7025px;
  z-index: 3;
}
.chbox span {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70px;
  height: 70px;
  border: 2px solid #eef0f5;
  border-radius: 50%;
  z-index: 1;
}
.chbox input:checked ~ span {
  background-image: url("../images/garabato.png");
  background-size: contain;
  border-color: lime;
}
.chbox input[type="checkbox"]:checked + label {
  color: #bdc0ca;
}
button {
  padding: 55px;
  border: 2px solid #51E3A4;
  border-radius: 50%;
  background-color: #51E3A4;
  position: absolute;
  left: 430px;
  bottom: -120px;
}
button div {
  font-size: 100px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgba(0, 80, 255, 0.5);
}
