/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*fonts end*/

header{
	height: 400px;
	width: 100%;
	background-color: aquamarine;
}

hr:empty{
	border-color:lime;
	text-decoration:
}

h1,h2{
	text-align: center;
	font-size: 50px;
}

nav {
	text-align: right;
	padding-top: 2%;
	padding-right: 5%;
}

a{
	text-align: center;
	text-decoration: none;
	padding-left: 20px;
}

a:link { color: blue } /* enlaces no visitados */
/*a:visited { color: purple } /* enlaces visitados */
a:hover { font-weight: bold } /* el usuario pasa el cursor por encima */
a:active { color: lime } /* enlaces activos */
li{
	font-size: 30px;
	display: inline;
}
/*about me */
.about-me {

}

.mayra {
	width: 30%;
	height: auto;
	display: inline-block;
}

.about-text {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	width: 65%;
	height: auto;
	float: right;
}
/*about me end*/
