@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre');
/*default*/
* {
    color: #434343;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Abhaya Libre', serif;
    text-align: center;
}

h3 {
    font-family: 'Abhaya Libre', serif;
}

h1 {
    font-size: 70px;
}

header {
    font-family: 'Abhaya Libre', serif;
    width: 100%;
    height: 300px;
    background-color: #e3e3e3;

}

.header p {
    font-weight: bold;
    font-style: cursive;
    width: 50%;
    display: inline-block;
    margin-left: 75px;
    margin-top: 50px;
}

.header nav {
    float: right;
    text-align: right;
    margin-right: 100px;
    margin-top: 50px;
}

.header li {
    list-style: none;
    display: inline;
}


.logo{
    width: 20px;
    height: auto;
}

.gradients {
    width: 100%;
    height: 200px;
    background: linear-gradient(#e3e3e3, white);
    margin-top: 2px;
}

.absolute {
    position: absolute;
    margin-top: 10px;
    margin-left: 130px;
    width: 80%;
    height: 400px;
    background-image: url(../images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;;
}

.text {
    width: 100%;
    height: 300px;
    margin: 0 auto;

}

.textos {
    width: 80%;
    margin: 0 auto;
}

.img-span {
    width: 20px;
    height: auto;
}

.article {
    width: 28%;
    float: left;
    margin: 5px auto;
    padding: 20px;
}

.image {
    width: 100%;
    height: 500px;
    background-color: #e3e3e3;

}

.photo-album {
    width: 400px;
    height: auto;;
    padding-top: 15px;
    padding-left: 37px;
    float: left;

}
.photo {
    width: 600px;
    height: auto;
    padding-top: 25px;
    float: left;

}

.woman {
    width: auto;
    height: 465px;
}

.men{
    width: 300px;
    height: auto;
}

.album {
    width: 180px;
    height: 150px;
    float: left;
    margin: 5px;
    background-size: cover;
}

.seccion-formulary {
    width: 100%;
    height: 400px;
    background: linear-gradient(#e3e3e3 10px, white );
    margin-top: 2px;
}

.formulary {
    width: 402px;
    height: auto;
    float: left;
    margin: 20px auto;
    padding-left: 37px;

}

input {
    background-color:  #e3e3e3;

}

.input {
    width: 373px;
    height: 30px;
}

.submit {
    height: 30px;
    width: 70px;
}

textarea {
    background-color:  #e3e3e3;
    width: 373px;
    height: 150px;

}

.bio {
    width: 54%;
    height: auto;
    float: left;
    margin: 20px auto;
}

.bio-photo{
    width: 300px;
    float: left;
}

.bio-text p, h3, li {
    margin: 2px auto;
    padding-left: 5px;


}

.contact ,h6 {
    width: auto;
    height: auto;
    float: left;
}

h6{
    font-family: cursive;
}

a {
    font-family: cursive;
    text-decoration: none;
}

li {
    display: inline;
    list-style: none;
}
footer {
    width: 100%;
    height: 100px;
    font-family: 'Abhaya Libre', serif;
}

footer p {
    font-weight: bold;
    font-style: cursive;
    width: 50%;
    display: inline-block;
    margin-left: 75px;
    margin-top: 50px;
    font-size: 20px;
}

footer nav {
    float: right;
    text-align: right;
    margin-right: 100px;
    margin-top: 50px;
}

footer li {
    list-style: none;
    display: inline;
}
