@font-face {
  font-family: "medium";
  font-style: bold;
  font-weight: 400;
  src: url("font/gotham-rounded-medium.otf") format('woff2');
}

@font-face {
  font-family: "book";
  font-style: bold;
  font-weight: 400;
  src: url("font/gotham-rounded-book.otf") format('woff2');
}
/*normalize*/
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #f0efe9;
    color: #747981;
}
/*end normalize*/

/*body*/
.container {
    width: 750px;
    height: auto;
    background-color: white;
    margin: 10% auto;
}

header {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    padding-top: 10%;
    font-family: medium;

}

.day {
    float: left;
    font-size: 50px;
}

.date {
    float: left;
    font-size: 18px;
    padding-top: 2%;
}
.day-of-the-week {
    float: right;;
    font-size: 18px;
    margin-top: 5%;
}

.box {
    width: 80%;
    height: auto;
    font-family: book;
    font-size: 18px;
    margin: 0 auto;
    padding-bottom: 10%;
}

.box-ul {
    position: relative;
}

ul li{
  list-style: none;
  display: block;
  padding-bottom: 2%;
  font-size: 35px;
  margin-bottom: 4%;
}

input{
    cursor: pointer;
    opacity: 0;
    width: 35px;
    height: 35px;
    position: absolute;
    margin-left: 577px;
    z-index: 1;
}

.input-falso{
    cursor: pointer;
    height: 35px;
    width: 35px;
    border: 2px solid #eef0f5;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: 577px;
}

input[type="checkbox"]:checked + .input-falso {
    background-image: url("../images/garabato.png");
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: 2px solid #59e5a9;
    color: #616473;
}

input[type="checkbox"]:checked ~ label {
    color: #bdc0ca;
}

.button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #51E3A4;
    position: absolute;
    text-align: center;
    font-size: 85px;
    color: #45bb89;
    margin-top: -50px;
    margin-left: 325px;
}
/*end body*/
.clear {
    clear: both;
}
