@import 'https://fonts.googleapis.com/css?family=Poppins';
body{
  background-image: url("images/chicago2.jpg");
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin:0 auto;
}
.blue{
  height: 655px;
  width: 1060px;
  background-color:rgba(64,68,102,0.7);
  margin:0 auto;
  position: absolute;
}

.profile{
  width:30%;
  margin:0 auto;
  top:12%;
  position:relative;
}

.pink{
  background:linear-gradient(to right, #FF9395,#FF9376);
  width:400px;
  height:350px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.white{
  width:400px;
  height:150px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity:1;
  background-color: white;
}

.photo{
  background-image: url("images/antea.jpg");
  background-repeat:no-repeat;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width:125px;
  height:125px;
  border-style:solid;
  border-width:thick;
  border-color:white;
  background-size: cover;
  margin:0 auto;
  top:12%;
  position:relative;
}

.name{
  color:white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 400;
  margin-top: 18px;
  padding-top: 12px;
  font-weight: 300;
}
.description{
  color:white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  font-weight: lighter;
}

.social{
  width:35%;
  height:40px;
  margin:0 auto;
  top:3%;
  position:relative;
}

.twitter{
  background-image: url("icons/twitter.png");
  float:left;
  width:30px;
  height:30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.facebook{
  background-image: url("icons/facebook.png");
  float:left;
  padding-right:15px;
  width:30px;
  height:30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.dribble{
  background-image: url("icons/dribble.png");
  float:left;
  width:30px;
  height:30px;
  padding-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.follow{
  width:150px;
  height:30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  margin:0 auto;
  top:-7%;
  position:relative;
  border-width: thin;
  border-style: solid;
  border-color: gray;
}
