@import url('https://fonts.googleapis.com/css?family=New+Rocker');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    padding-top: 100px;
}

.wrapper {
    width: 700px;
    height: 300px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.drums {
    width: 88px;
    height: 70px;
    background: url("../images/band.gif") 0px 0px;
    transition: none;
    animation: play-drums steps(4) .5s infinite;
    position: absolute;
    top: 150px;
    left: 250px;
}


@keyframes play-drums {
    from { background-position: 0px   0px; }
    to { background-position: -348px 0px; }
}

.guitar-wrapper {
    /*border: 1px solid black;*/
    width: 55px;
    height: 55px;
    position: relative;
    top: 50px;
    margin-left: 140px;

}

.guitar-player {
    width: 30px;
    height: 54px;
    background: url("../images/band.gif") 0px -200px;

}

.guitar {
    width: 50px;
    height: 40px;
    background: url("../images/band.gif") -101px -210px;
    position: absolute;
    top: 10px;
    z-index: 1;
}

.pick-hand {
    width: 15px;
    height: 22px;
    background: url("../images/band.gif") -34px -218px;
    position: absolute;
    top: 17px;
    left: 7px;
    z-index: 2;
    /*border: 1px solid black;*/
    animation: pick-play steps(4) .5s infinite;
}


@keyframes pick-play {
from { background-position: -34px -218px; }
to { background-position: -106px -218px; }
}

.notes-hand {
    width: 28px;
    height: 22px;
    background: url("../images/band.gif") -150px -218px;
    /*border: 1px solid black;*/
    position: absolute;
    top: 18px;
    left: 14px;
}

.keyboard-wrapper {
    width: 55px;
    height: 55px;
    /*border: 1px solid black;*/
    position: relative;
    top: 0px;
    left: 400px;
}

.keyboard-player {
    margin: 0 auto;
    width: 40px;
    height: 54px;
    background: url("../images/band.gif") -225px -146px;
}

.keyboard {
    /*border: 1px solid black;*/
    width: 47px;
    height: 54px;
    background: url("../images/band.gif") -265px -146px;
    position: absolute;
    top: 1px;
    left: 4px;
}

.hands {
    /*border: 1px solid black;*/
    width: 22px;
    height: 10px;
    background: url("../images/band.gif") -312px -165px;
    position: absolute;
    top: 19px;
    left: 16px;
    animation: keyboard-play steps(4) .3s infinite;
}


@keyframes keyboard-play {
    0% {
        transform: translateY(2px);
    }

    100% {
        transform: translatey(-2px);
    }
}

.fire-wrapper1 {
    width: 70px;
    height:85px;
    /*border: 1px solid black;*/
    position: absolute;
    top:215px;
    left: 50px;
}
.fire-wrapper2 {
    width: 70px;
    height:85px;
    /*border: 1px solid black;*/
    position: absolute;
    top:215px;
    left: 210px;
}
.fire-wrapper3 {
    width: 70px;
    height:85px;
    /*border: 1px solid black;*/
    position: absolute;
    top:215px;
    left: 310px;
}
.fire-wrapper4 {
    width: 70px;
    height:85px;
    /*border: 1px solid black;*/
    position: absolute;
    top:215px;
    left: 450px;
}

.fire-tube {
    position: absolute;
    bottom: 0;
    left: 26px;
    width: 13px;
    height: 15px;
    background: url("../images/tube.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.fire {
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 60px;
    height: 100px;
    background: url(../images/fire.png) -3px -40px;
    animation: fire-effect steps(4) .3s infinite;
}

@keyframes fire-effect {
    0% {
        background-position: -3px -40px;
    }
    100% {
        background-position: -263px -40px;
    }
}
h1 {    font-family: 'New Rocker', cursive;    font-size: 50px;    text-shadow: 1px 0px 10px red,1px 0px 10px red,    1px 0px 20px red,1px 0px 30px red,    1px 0px 40px red,1px 0px 50px red,1px 0px 60px red,    0px 0px 100px red;    letter-spacing: 5px;    text-align: center;    padding-top: 50px;    animation-name: neon-color;    animation-duration: 5s;    animation-timing-function: ease-in;    animation-iteration-count: infinite;    animation-play-state: play;}@keyframes neon-color {    0% {        text-shadow: 1px 0px 10px red,1px 0px 10px red,        1px 0px 20px red,1px 0px 30px red,        1px 0px 40px red,1px 0px 50px red,1px 0px 60px red,        0px 0px 100px red,1px 0px 110px red,1px 0px 120px red,        1px 0px 130px red,1px 0px 140px red,        1px 0px 150px red,1px 0px 160px red,1px 0px 170px red,        0px 0px 180px red;    }    50% {        text-shadow: 1px 0px 10px black,1px 0px 10px black,        1px 0px 20px black,1px 0px 30px black,        1px 0px 40px black,1px 0px 50px black,1px 0px 60px black,        0px 0px 100px black;    }    100% {        text-shadow: 1px 0px 10px red,1px 0px 10px red,        1px 0px 20px red,1px 0px 30px red,        1px 0px 40px red,1px 0px 50px red,1px 0px 60px red,        0px 0px 100px red,1px 0px 110px red,1px 0px 120px red,        1px 0px 130px red,1px 0px 140px red,        1px 0px 150px red,1px 0px 160px red,1px 0px 170px red,        0px 0px 180px red;    }}.ligth-left-indigo {    width: 25px;    height: 25px;    margin-left: 20px;    border-radius: 50px;    background-color: indigo;    text-align: left;    position: absolute;}.ligth-left-indigo-focus {    margin-left: 169px;    margin-top: -232px;    border-radius: 50px;    width: 0;    height: 0;    border-right: 70px solid transparent;    border-top: 100px solid transparent;    border-left: 70px solid transparent;    border-bottom: 663px solid indigo;    opacity: 0.2;    text-align: left;    position: absolute;    transform: rotate(-57deg)}.ligth-rigth-indigo {    width: 25px;    height: 25px;    margin-left: 554px;    border-radius: 50px;    background-color: indigo;    text-align: left;    position: absolute;}.ligth-rigth-indigo-focus{    margin-left: 285px;    margin-top: -232px;    border-radius: 50px;    width: 0;    height: 0;    border-right: 70px solid transparent;    border-top: 100px solid transparent;    border-left: 70px solid transparent;    border-bottom: 663px solid indigo;    opacity: 0.2;    text-align: left;    position: absolute;    transform: rotate(57deg)}.ligth-left-blue {    width: 25px;    height: 25px;    margin-left: 215px;    border-radius: 50px;    background-color: mediumblue;    text-align: left;    position: absolute;    animation-name: traslate-left;    animation-duration: 5s;    animation-timing-function: ease-in;    animation-iteration-count: infinite;    animation-play-state: play;}@keyframes traslate-left {    0% {        transform: translate(27px);    }    50% {        transform: translate(0px);        background-color: red;    }    100% {        transform: translate(-27px);    }}.ligth-left-blue-focus {    margin-left: 158px;    margin-top: -104px;    border-radius: 50px;    width: 0;    height: 0;    border-right: 70px solid transparent;    border-top: 100px solid transparent;    border-left: 70px solid transparent;    border-bottom: 213px solid mediumblue;    opacity: 0.2;    text-align: left;    position: absolute;    animation-name: rotate-focus-left;    animation-duration: 5s;    animation-timing-function: ease-in;    animation-iteration-count: infinite;    animation-play-state: play;}@keyframes rotate-focus-left {    0% {        transform: rotate(50deg);    }    50% {        transform: rotate(0deg);        border-right: 70px solid transparent;        border-top: 100px solid transparent;        border-left: 70px solid transparent;        border-bottom: 213px solid red;    }    100% {        transform: rotate(-50deg);    }}.ligth-rigth-blue {    width: 25px;    height: 25px;    margin-left: 359px;    border-radius: 50px;    background-color: mediumblue;    text-align: left;    position: absolute;    animation-name: traslate-rigth;    animation-duration: 5s;    animation-timing-function: ease-in;    animation-iteration-count: infinite;    animation-play-state: play;}@keyframes traslate-rigth {    0% {        transform: translate(-27px);    }    50% {        transform: translate(0px);        background-color: red;    }    100% {        transform: translate(27px);    }}.ligth-rigth-blue-focus {    margin-left: 303px;    margin-top: -104px;    border-radius: 50px;    width: 0;    height: 0;    border-right: 70px solid transparent;    border-top: 100px solid transparent;    border-left: 70px solid transparent;    border-bottom: 213px solid mediumblue;    opacity: 0.2;    text-align: left;    position: absolute;    animation-name: rotate-focus-rigth;    animation-duration: 5s;    animation-timing-function: ease-in;    animation-iteration-count: infinite;    animation-play-state: play;}@keyframes rotate-focus-rigth {    0% {        transform: rotate(-50deg);    }    50% {        transform: rotate(0deg);        border-right: 70px solid transparent;        border-top: 100px solid transparent;        border-left: 70px solid transparent;        border-bottom: 213px solid red;    }    100% {        transform: rotate(50deg);    }}.speaker-left {    position: absolute;    width: 60px;    height: 60px;    background-color: black;    border-top: 2px gray solid;    border-bottom: 2px gray solid;    border-left: 5px gray solid;    border-right: 5px gray solid;    margin-top: -25px;    margin-left: 25px;}.speaker-left-ampli {    position: absolute;    width: 60px;    height: 10px;    background-color: black;    border-top: 2px gray solid;    border-bottom: 2px gray solid;    border-left: 5px gray solid;    border-right: 5px gray solid;    margin-top: -39px;    margin-left: 25px;}.speaker-rigth {    position: absolute;    width: 60px;    height: 60px;    background-color: black;    border-top: 2px gray solid;    border-bottom: 2px gray solid;    border-left: 5px gray solid;    border-right: 5px gray solid;    margin-top: -25px;    margin-left: 505px;}.speaker-rigth-ampli {    position: absolute;    width: 60px;    height: 10px;    background-color: black;    border-top: 2px gray solid;    border-bottom: 2px gray solid;    border-left: 5px gray solid;    border-right: 5px gray solid;    margin-top: -39px;    margin-left: 505px;}.button {    width: 8px;    height: 8px;    float: left;    border: 1px solid gray;    border-radius: 50px;    margin-left: 4px;}.container {    width: 600px;    height: 400px;    margin: 0 auto;    position: relative;}.telon {    color: white;    width: 100%;    height:150px;    background-color: black;}.scenary {    width: 100%;    height:150px;    background-color: peru;}.fans {    width: 100%;    height:100px;    background-color: skyblue;}Enviado en:14:33De:Mayra Janette Huerta Carbajal!@import url('https://fonts.googleapis.com/css?family=New+Rocker');* {    margin: 0;    padding: 0;}h1 {    font-family: 'New Rocker', cursive;    font-size: 50px;    text-shadow: 1px 0px 10px red,1px 0px 10px red,    1px 0px 20px red,1px 0px 30px red,    1px 0px 40px red,1px 0px 50px red,1px 0px 60px red,    0px 0px 100px red;    letter-spacing: 5px;    text-align: center;    padding-top: 50px;    animation-name: neon-color;    animation-duration: 5s;    animation-timing-function: ease-in;    animation-iteration-count: infinite;    animation-play-state: play;}@keyframes neon-color {    0% {        text-shadow: 1px 0px 10px red,1px 0px 10px red,        1px 0px 20px red,1px 0px 30px red,        1px 0px 40px red,1px 0px 50px red,1px 0px 60px red,        0px 0px 100px red,1px 0px 110px red,1px 0px 120px red,        1px 0px 130px red,1px 0px 140px red,        1px 0px 150px red,1px 0px 160px red,1px 0px 170px red,        0px 0px 180px red;    }    50% {        text-shadow: 1px 0px 10px black,1px 0px 10px black,        1px 0px 20px black,1px 0px 30px black,        1px 0px 40px black,1px 0px 50px black,1px 0px 60px black,        0px 0px 100px black;    }    100% {        text-shadow: 1px 0px 10px red,1px 0px 10px red,        1px 0px 20px red,1px 0px 30px red,        1px 0px 40px red,1px 0px 50px red,1px 0px 60px red,        0px 0px 100px red,1px 0px 110px red,1px 0px 120px red,        1px 0px 130px red,1px 0px 140px red,        1px 0px 150px red,1px 0px 160px red,1px 0px 170px red,        0px 0px 180px red;    }}.ligth-left-indigo {    width: 25px;    height: 25px;    margin-left: 20px;    border-radius: 50px;    background-color: indigo;    text-align: left;    position: absolute;}.ligth-left-indigo-focus {    margin-left: 169px;    margin-top: -232px;    border-radius: 50px;    width: 0;    height: 0;    border-right: 70px solid transparent;    border-top: 100px solid transparent;    border-left: 70px solid transparent;    border-bottom: 663px solid indigo;    opacity: 0.2;    text-align: left;    position: absolute;    transform: rotate(-57deg)}.ligth-rigth-indigo {    width: 25px;    height: 25px;    margin-left: 554px;    border-radius: 50px;    background-color: indigo;    text-align: left;    position: absolute;}.ligth-rigth-indigo-focus{    margin-left: 285px;    margin-top: -232px;    border-radius: 50px;    width: 0;    height: 0;    border-right: 70px solid transparent;    border-top: 100px solid transparent;    border-left: 70px solid transparent;    border-bottom: 663px solid indigo;    opacity: 0.2;    text-align: left;    position: absolute;    transform: rotate(57deg)}.ligth-left-blue {    width: 25px;    height: 25px;    margin-left: 215px;    border-radius: 50px;    background-color: mediumblue;    text-align: left;    position: absolute;    animation-name: traslate-left;    animation-duration: 5s;    animation-timing-function: ease-in;    animation-iteration-count: infinite;    animation-play-state: play;}@keyframes traslate-left {    0% {        transform: translate(27px);    }    50% {        transform: translate(0px);        background-color: red;    }    100% {        transform: translate(-27px);    }}.ligth-left-blue-focus {    margin-left: 158px;    margin-top: -104px;    border-radius: 50px;    width: 0;    height: 0;    border-right: 70px solid transparent;    border-top: 100px solid transparent;    border-left: 70px solid transparent;    border-bottom: 213px solid mediumblue;    opacity: 0.2;    text-align: left;    position: absolute;    animation-name: rotate-focus-left;    animation-duration: 5s;    animation-timing-function: ease-in;    animation-iteration-count: infinite;    animation-play-state: play;}@keyframes rotate-focus-left {    0% {        transform: rotate(50deg);    }    50% {        transform: rotate(0deg);        border-right: 70px solid transparent;        border-top: 100px solid transparent;        border-left: 70px solid transparent;        border-bottom: 213px solid red;    }    100% {        transform: rotate(-50deg);    }}.ligth-rigth-blue {    width: 25px;    height: 25px;    margin-left: 359px;    border-radius: 50px;    background-color: mediumblue;    text-align: left;    position: absolute;    animation-name: traslate-rigth;    animation-duration: 5s;    animation-timing-function: ease-in;    animation-iteration-count: infinite;    animation-play-state: play;}@keyframes traslate-rigth {    0% {        transform: translate(-27px);    }    50% {        transform: translate(0px);        background-color: red;    }    100% {        transform: translate(27px);    }}.ligth-rigth-blue-focus {    margin-left: 303px;    margin-top: -104px;    border-radius: 50px;    width: 0;    height: 0;    border-right: 70px solid transparent;    border-top: 100px solid transparent;    border-left: 70px solid transparent;    border-bottom: 213px solid mediumblue;    opacity: 0.2;    text-align: left;    position: absolute;    animation-name: rotate-focus-rigth;    animation-duration: 5s;    animation-timing-function: ease-in;    animation-iteration-count: infinite;    animation-play-state: play;}@keyframes rotate-focus-rigth {    0% {        transform: rotate(-50deg);    }    50% {        transform: rotate(0deg);        border-right: 70px solid transparent;        border-top: 100px solid transparent;        border-left: 70px solid transparent;        border-bottom: 213px solid red;    }    100% {        transform: rotate(50deg);    }}.speaker-left {    position: absolute;    width: 60px;    height: 60px;    background-color: black;    border-top: 2px gray solid;    border-bottom: 2px gray solid;    border-left: 5px gray solid;    border-right: 5px gray solid;    margin-top: -25px;    margin-left: 25px;}.speaker-left-ampli {    position: absolute;    width: 60px;    height: 10px;    background-color: black;    border-top: 2px gray solid;    border-bottom: 2px gray solid;    border-left: 5px gray solid;    border-right: 5px gray solid;    margin-top: -39px;    margin-left: 25px;}.speaker-rigth {    position: absolute;    width: 60px;    height: 60px;    background-color: black;    border-top: 2px gray solid;    border-bottom: 2px gray solid;    border-left: 5px gray solid;    border-right: 5px gray solid;    margin-top: -25px;    margin-left: 505px;}.speaker-rigth-ampli {    position: absolute;    width: 60px;    height: 10px;    background-color: black;    border-top: 2px gray solid;    border-bottom: 2px gray solid;    border-left: 5px gray solid;    border-right: 5px gray solid;    margin-top: -39px;    margin-left: 505px;}.button {    width: 8px;    height: 8px;    float: left;    border: 1px solid gray;    border-radius: 50px;    margin-left: 4px;}.container {    width: 600px;    height: 400px;    margin: 0 auto;    position: relative;}.telon {    color: white;    width: 100%;    height:150px;    background-color: black;}.scenary {    width: 100%;    height:150px;    background-color: peru;}.fans {    width: 100%;    height:100px;    background-color: skyblue;}
