
.solid{
    width: 150px;
    height: 100px;
    background-color: black;
    border: 5px solid orange;
    color: white;
    float: left;
    margin: 2px;


}

.dotted{
    width: 150px;
    height: 100px;
    background-color: black;
    border: 5px dotted cyan;
    color: white;
    float: left;
    margin: 2px;

}

.dashed{
    width: 150px;
    height: 100px;
    background-color: black;
    border: 5px dashed lime;
    color: white;
    float: left;
    margin: 2px;

}

.double{
    width: 150px;
    height: 100px;
    background-color: black;
    border: 5px double silver;
    color: white;
    float: left;
    margin: 2px;

}

.inset{
    width: 150px;
    height: 100px;
    background-color: black;
    border: 5px inset dodgerblue;
    color: white;
    float: left;
    margin: 2px;

}

.outset{
    width: 150px;
    height: 100px;
    background-color: black;
    border: 5px outset yellow;
    color: white;
    float: left;
    margin: 2px;

}

.rigde{
    width: 150px;
    height: 100px;
    background-color: black;
    border: 5px ridge fuchsia;
    color: white;
    float: left;
    margin: 2px;

}

.groove{
    width: 150px;
    height: 100px;
    background-color: black;
    border: 5px groove red;
    color: white;
    float: left;
    margin: 2px;

}
