img{
  width: 70px;
  height: 70px;
}
ul{
  text-align: right;
  //display: inline;
}
li{
  list-style: none;
  display: inline;
}
a{
  font-size: 20px;
  color: darkblue;
  font-weight: bold;
  text-decoration: none;
}/*
a:hover{
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}*/
a:hover{
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px white,
               0 0 20px red,
               0 0 30px yellow,
               0 0 40px yellow,
               0 0 70px orange,
               0 0 80px pink,
               0 0 100px pink;
}
header{
  background: #00CC4D;
}
nav{
  word-spacing: 30px;
  height: 70px;
}

div{
  background-color: #00FF60;
  text-align: center;
  height: 150px;
}
div p{
  color: darkblue;
  font-weight: bold;
  font-size: 40px;
}

.activo{
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
