@font-face {
    font-family: GothamRoundedMedium;
    src: url('../fonts/gotham-rounded-medium.otf');
}

@font-face {
    font-family: GothamRoundedBook;
    src: url('../fonts/gotham-rounded-book.otf');
}

/* Normalization */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* End Normalization */

/* General */
body {
    background-color: #F0EFE9;
}

.clearfix {
    clear: both;
}
/* End General */

.todo-container {
    width: 750px;
    height: auto;
    background-color: white;
    margin: 20% auto;
}

.todo-header {
    width: 100%;
    height: 250px;
    margin-bottom: 5px;
    font-family: GothamRoundedMedium;
    color: #616473;
    padding: 5% 10%;
}

.date {
    position: relative;
    top: 38%;
    left: 5%;
}

.date > .day {
    float: left;
    font-size: 75px;
}

.date > .month-year {
    float: left;
    margin-left: 15px;
}

.date > .month-year > .month {
    font-size: 26px;
    margin-top: 15px;
}

.date > .month-year > .year {
    font-size: 25px;
    margin-top: 2px;
}

.day-of-week {
    position: relative;
    top: 55%;
    right: 4%;
    float: right;
    font-size: 26px;
}

.todo-body {
    width: 100%;
    height: auto;
    font-family: GothamRoundedBook;
    /*font-weight: 600;*/
    color: #3e434f;
    list-style: none;
}

.todo-item {
    width: 100%;
    height: 125px;
    margin-bottom: 2px;
    padding: 5% 14%;
    font-size: 33px;
    position: relative;
}

.todo-footer {
    width: 100%;
    height: 155px;
    text-align: center;
}

.btn-add {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: none;
    font-size: 100px;
    margin-top: 65px;
    background-color: #50e3a4;
    color: #46be8b;
    font-family: GothamRoundedBook;
    outline: none;
    cursor: pointer;
}

.todo-item > input[type='checkbox'] {
    display: none;
}

.todo-item > input[type='checkbox'] + span + label {
    position: absolute;
    right: 110px;
    top: 42px;
    width: 40px;
    height: 40px;
    border-width: 4px;
    border-style: solid;
    border-color: #eef0f5;
    border-radius: 50%;
    cursor: pointer;
}

.todo-item > input[type='checkbox']:checked + span {
    color: #bdc0ca;
}

.todo-item > input[type='checkbox']:checked + span + label {
    border-color: #50e3a4;
    background-image: url('../images/garabato.png');
    background-size: 100%;
    background-position: center;
}
