
/*Normalize*/
html, body {
  margin: 0;
  padding: 0;
  color: rgb(70, 70, 70);

}
/*End Normalize*/

.gray {
  background-color: rgb(220, 220, 220);
  color: rgb(90, 90, 90);
  font-weight: bold;
  width: 90%;
  height: 400px;
  margin: auto;

}

header p {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  margin-bottom: 320px;
  float: left;

}

.icons {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  float: right;

}

.icons img {
  width: 15px;
  height: 15px;

}

.gray hr {
  border: 2px solid white;
  width: 100%;

}

.middle {
  background-color: white;
  width: 90%;
  height: auto;
  text-align: center;
  margin: auto;

}

.middle h3 {
  font-size: 1em;
}

h1 {
  font-size: 3.5em;
  font-weight: normal;
}

.middle img {
  width: 80%;
  height: 420px;
  border: 5px solid silver;
  //border: 2px solid white;
  margin: auto;
  margin-top: -300px;
  position: relative;

}

article {
  width: 27%;
  margin: 3%;
  float: left;
}

.last {
  clear: both;

}

.pictures {
  background-color: rgb(220, 220, 220);
  width: 90%;
  height: auto;
  margin: auto;
  overflow: auto;
  position: relative;

}

.bigPicture {
  background-image: url("../images/girl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 40%;
  height: 520px;
  border: 4px solid rgb(240, 240, 240);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  float: right;
  position: relative;

}

.bigPicture p {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 10px;
  margin: 10px;
}

.littlePictures {
  background-color: transparent;
  width: 40%;
  height: 490px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  float: right;
  position: absolute;

}

.littlePictures img {
  background-color: white;
  width: 40%;
  height: 150px;
  margin: 10px;
  border: 4px solid rgb(240, 240, 240);
  float: left;

}

hr {
  border: 1px solid rgb(200, 200, 200);;
  width: 99%;
  margin-bottom: 15px;
}

.contact {
  background-color: white;
  width: 90%;
  height: auto;
  margin: auto;

}

form {
  width: 40%;
  padding-left: 5%;
  margin: 10px;
  margin-left: 30px;
  float: left;
}

form input,button {
  background-color: rgb(230, 230, 230);
  border: 4px solid rgb(240, 240, 240);
  color: rgb(70, 70, 70);
  width: 90%;
  height: 40px;
  margin: 10px;
}


form textarea {
  background-color: rgb(230, 230, 230);
  border: 4px solid rgb(240, 240, 240);
  width: 90%;
  margin: 10px;
  height: 110px;
}

.about {
  width: 50%;
  margin: 10px;
  float: left;

}

.about img {
  width: 30%;
  height: 280px;
  border: 4px solid rgb(240, 240, 240);
  margin: 15px;
  float: left;

}

.about div {
  padding-right: 20%;
  text-align: justify;
}

.about aside {
  width: 80%;
  margin: 15px;
  float: left;
}

footer {
  width: 90%;
  margin: auto;

}

footer p {
  padding-right: 10%;
  padding-top: 20px;
  float: left;

}
