@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Fascinate+Inline|Londrina+Shadow';
@import 'https://fonts.googleapis.com/css?family=Sarina';
@import 'https://fonts.googleapis.com/css?family=Nixie+One';

html,body, h1 {
  margin:0;
  padding: 0;

}

.navbar {
  position: fixed;
  background-color:#9C004E;
  width: 100%;
  height:50px;

}

nav {
  width:55px;
  height:45px;
  float:right;
  padding-right:15px;
  padding-top: 6px;

}

nav ul {
  display:inline-block;
  float:left;
  word-spacing: 8px;
  visibility: hidden;

}

nav ul li {
  display:inline-block;
  list-style: none;

}

nav ul li a {
  text-decoration: none;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

}

.hamburger {
  background-image: url("images/hamburger.png");
  float:left;
  width:38px;
  height:38px;
  background-repeat: no-repeat;
  background-size: contain;

}

header .title {
  font-size: 36px;
  margin-bottom: 5px;
  font-family: 'Nixie One', cursive;
  text-align: center;
  color: #072744;
  padding: 65px;
  padding-top:100px;
  margin-top: 0px;
  letter-spacing: 3px;
  font-weight: 600;

}

.bios {
  width: 85%;
  background-color:#0B533A;
  margin:0 auto;

}

.biographie {
  width:75%;
  height:auto;
  padding: 5%;
  margin:0 auto;

}

h4 {
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;
  color:White;
  font-size: 16px;
  text-align: center;
  font-weight:200;

}

p {
  font-family: 'Hind', sans-serif;
  color:white;
  font-weight:100;
  font-size: 14px;

}

.clear {
  clear:both;

}

footer {
  width: 100%;
  height:80px;
  background-color: #40114A;
  float:left;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 100px;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:White;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;

}


@media (min-width:600px) {

  .biographie {
    width:40%;
    height:475px;
    padding: 5%;
    float:left;

  }

  .bios {
    width: 85%;

  }

  .navbar {
    height:65px;

  }

  nav {
    width:300px;
    height:55px;
    float:right;
    padding-right:5px;
    padding-top: 3px;

  }

  nav ul,li {
    visibility: visible;
  }

  .hamburger {
    display: none;

  }

  header .title {
    font-size: 40px;
    padding-top: 115px;

  }

}

@media (min-width:768px) {

  .biographie {
    width:25%;
    height:500px;
    padding:0%;
    margin:4%;
    float:left;

  }

  .bios {
    width: 85%;

  }

  .navbar {
    height:65px;

  }

  nav {
    width:300px;
    height:55px;
    float:right;
    padding-right:5px;
    padding-top: 3px;

  }

  nav ul,li {
    visibility: visible;
  }

  nav ul li a{
    font-size:20px;
  }

  .hamburger {
    display: none;

  }

  header .title {
    font-size: 44px;
    padding-top: 115px;

  }

}

@media (min-width:1024px) {

  .biographie {
    width:22%;
    height:360px;
    margin:1.5%;
    margin-top: 3%;
    float:left;

  }

  .bios {
    width: 90%;

  }

  .navbar {
    height:65px;

  }

  nav {
    width:300px;
    height:55px;
    float:right;
    padding-right:5px;
    padding-top: 3px;

  }

  nav ul,li {
    visibility: visible;
  }

  nav ul li a{
    font-size:22px;
  }

  .hamburger {
    display: none;

  }

  header .title {
    font-size: 54px;
    padding-top: 115px;

  }

}
