@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Fascinate+Inline|Londrina+Shadow';
@import 'https://fonts.googleapis.com/css?family=Sarina';
@import 'https://fonts.googleapis.com/css?family=Nixie+One';

html,body, h1 {
  margin:0;
  padding: 0;

}

.navbar {
  position: fixed;
  background-color:#9C004E;
  width: 100%;
  height:50px;

}

nav {
  width:55px;
  height:45px;
  float:right;
  padding-right:15px;
  padding-top: 6px;

}

.hamburger {
  background-image: url("images/hamburger.png");
  float:left;
  width:38px;
  height:38px;
  background-repeat: no-repeat;
  background-size: contain;

}

header .title {
  font-size: 36px;
  margin-bottom: 5px;
  font-family: 'Nixie One', cursive;
  text-align: center;
  color: #072744;
  padding: 65px;
  padding-top:100px;
  margin-top: 0px;
  letter-spacing: 3px;

}

.bios {
  width: 85%;
  background-color:#074F2F;
  margin:0 auto;

}

.biographie {
  width:75%;
  height:auto;
  padding: 5%;
  margin:0 auto;

}

h4{
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;
  color:White;
  font-size: 16px;
  text-align: center;
  font-weight:200;
}

p{
  font-family: 'Hind', sans-serif;
  color:white;
  font-weight:100;
  font-size: 1em;
}

.clear{
  clear:both;
}

footer{
  width: 100%;
  height:80px;
  background-color: #4A235A;
  float:left;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 100px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color:White;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}
