@font-face {
  font-family: GRmedium;
  src: url('../fonts/Gotham Rounded Medium.otf') format("truetype");
}

@font-face {
  font-family: GRbook;
  src: url('../fonts/Gotham Rounded Book.otf') format("truetype");
}

html, body {
  width: 100%;
  background-color: #f0efe9;
}

form {
  width: 750px;
  margin: auto;
  background-color: white;
  padding: 150px;
  position: relative;

}

.date {
  font-family: GRmedium;
  color: #616473;
  width: 100%;
  overflow: auto;

}

.date h1 {
  font-size: 4em;
  float: right;
  margin: 0px;
  padding-top: 5px;

}

.date h2 {
  font-size: 5em;
  float: left;
  margin: 0px;
  padding-top: 5px;

}

.intern {
  width: 50px;
  float: left;
  padding-left: 15px;
  font-size: 1.7em;
  margin-top: 15px;

}

.intern h3 {
  margin: 0px;
}

.chbox {
  width: 100%;
  font-family: GRbook;
  margin-top: 120px;
  position: relative;
  font-size: 2.7em;
  font-weight: 500;
  color: #3e434f;

}

input[type="checkbox"] {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  width: 70px;
  height: 70px;
  z-index: 2;

}

span {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70px;
  height: 70px;
  border: 2px solid lightgray;
  border-radius: 50%;
  background-color: #eef0f5;
  z-index: 1;

}

input[type="checkbox"]:checked ~ span {
  background-image: url("../images/garabato.png");
  background-size: contain;
  border-color: lime;

}

input[type="checkbox"]:checked + label {
  color: #bdc0ca;

}

button {
  padding: 55px;
  border: 2px solid #51E3A4;
  border-radius: 50%;
  background-color: #51E3A4;
  position: absolute;
  left: 430px;
  bottom: -120px;

}

button div {
  font-size: 100px;
  color: rgba(0, 80, 255, 0.25);
  padding-left: 30px;
  padding-right: 30px;

}
