/*Normalize*/
  html,body, h1 {
    margin:0;
    padding: 0;

}
/*End normalize*/

header {
  height:475px;
  width:100%;
  background-color: #86509c;

}

ul {
  list-style: none;
  float:right;
  word-spacing: 12px;
  margin-top: 45px;
  margin-right:130px;

}

li {
  display: inline-block;

}

a {
  color:white;
  text-decoration: none;

}

.logo {
  background-image: url("assets_exam/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 140px;
  width: 180px;
  float: left;
  margin-left:220px;
  margin-top: -15px;

}

header .first {
  padding-top: 185px;
  margin-bottom: 15px;

}

header h2 {
  color: white;
  font-size: 34px;
  text-align: center;
  margin-top: 0px;

}

.btn-work {
  height:60px;
  width:175px;
  background-color: #ec7c4a;
  color:white;
  margin:0 auto;
  border-style: none;
  border-radius: 3px;

}

.work {
  width:180px;
  height:65px;
  margin:0 auto;
  margin-top: 50px;

}

.services {
  height:700px;
  width:100%;
  background-color: #17c1a4;

}

.service-icons {
  width:80%;
  height:300px;
  margin:0 auto;
  margin-top: 50px;

}

.services h2 {
  color:white;
  text-align: center;
  font-size: 38px;
  letter-spacing: 2px;
  padding-top: 110px;
  margin-top: 0px;
  padding-bottom: 15px;

}

.services p {
  color:white;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 5px;
  font-size: 18px;

}

.service {
  width:25%;
  height:230px;
  float:left;

}

.service h4 {
  padding-top: 5px;
  color:white;
  text-align: center;

}

.flag {
  background-image: url("assets_exam/flag.png");
  background-repeat: no-repeat;
  background-size: contain;
  width:150px;
  height:165px;
  margin:0 auto;

}

.pencil {
  background-image: url("assets_exam/crayon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width:150px;
  height:165px;
  margin:0 auto;

}

.gear {
  background-image: url("assets_exam/gears.png");
  background-repeat: no-repeat;
  background-size: contain;
  width:150px;
  height:165px;
  margin:0 auto;

}

.cohete {
  background-image: url("assets_exam/rocket.png");
  background-repeat: no-repeat;
  background-size: contain;
  width:150px;
  height:165px;
  margin:0 auto;

}

.team {
  background-color: #e8f1f8;
  width:100%;
  height:735px;

}

.team-bios {
  width:80%;
  height:300px;
  margin:0 auto;
  margin-top: 50px;

}

.team h2 {
  color:#525e75;
  text-align: center;
  font-size: 38px;
  letter-spacing: 2px;
  padding-top: 110px;
  margin-top: 0px;
  padding-bottom: 26px;

}

.team p {
  color:#525e75;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 5px;
  padding-bottom: 20px;

}

.bio {
  width: 25%;
  height: 230px;
  float: left;

}

.bio h4 {
  padding-top: 20px;
  color:#525e75;
  text-align: center;
  margin-bottom: 8px;
  font-size: 18px;

}

.bio h5 {
  color:#4faec3;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  font-weight: lighter;

}

.bio p {
  padding-bottom: 2px;
}

.anne {
  background-image: url("assets_exam/anne.jpeg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width:160px;
  height:160px;
  margin:0 auto;
  border-radius: 50%;

}

.kate {
  background-image: url("assets_exam/kate.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:160px;
  height:160px;
  margin:0 auto;
  border-radius: 50%;

}

.olivia {
  background-image: url("assets_exam/olivia.jpeg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width:160px;
  height:160px;
  margin:0 auto;
  border-radius: 50%;

}

.ashley {
  background-image: url("assets_exam/ashley.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width:160px;
  height:160px;
  margin:0 auto;
  border-radius: 50%;

}

.social-net {
  width:62%;
  height:45px;
  margin: 0 auto;
  margin-top: 18px;

}

.fb {
  background-image: url("assets_exam/facebook.png");
  background-size:contain;
  background-repeat: no-repeat;
  width:40px;
  height:40px;
  float:left;
  margin-top: 2px;

}

.twitter {
  background-image: url("assets_exam/twitter.png");
  background-size:contain;
  background-repeat: no-repeat;
  width:40px;
  height:40px;
  float:left;

}

.linkedin {
  background-image: url("assets_exam/linkedin.png");
  background-size:contain;
  background-repeat: no-repeat;
  width:40px;
  height:40px;
  float:left;
  margin-top: 3px;

}

.email {
  background-image: url("assets_exam/mail.png");
  background-size:contain;
  background-repeat: no-repeat;
  width:40px;
  height:40px;
  float:left;
  margin-top: 0.5px;

}

.social-net-3 {
  width:45%;
  height:45px;
  margin: 0 auto;
  margin-top: 18px;

}

.hr-team {
  width:75px;
  background-color:#525e75;
  margin-top: -34px;
  margin-bottom: 22px;
  height:1px;
  border-radius: 25%;

}

.hr-services {
  width:75px;
  height:2px;
  background-color: #0b8e7a;
  margin-top: -34px;
  margin-bottom: 24px;
  border-radius: 25%;
  border-style: none;

}

a:hover {
  background-color: #66387c;

}
