@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/righteous/v5/w5P-SI7QJQSDqB3GziL8XVtXRa8TVwTICgirnJhmVJw.woff2") format('woff2');
}

@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/play/v7/ZNo-5SxCwH1CXgZ-n3bt2g.woff2") format('woff2');
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Righteous";
}

body {
    background-color: black;
    min-width: 320px;
    max-width: 1980px;
}

.my-header {
    width: 100%;
    margin: 0 auto;
    background-color: #440000;
    position: fixed;
    min-width: 320px;
    max-width: 1980px;
    height: 25px;
    z-index: 1px;
}

.my-title {
    display: inline-block;
    width: 50%;
    float: left;
    color: #FFFAF0;
    padding-left: 2%;
    font-size: 20px;
    margin-top: 2px;
}

a {
    display: none;
}

.hamburguer {
    float: right;
    padding-right: 2%;
    margin-top: 1px;
    width: 24px;
    height: 24px;
}

.section-top {
    padding-top: 25px;
    width: 100%;
    height: 20px;
    background-color: #FFFAF0;
    font-size: 12px;
    text-align: center;
    color: #440000;

}

.content-body {
    margin: 5px;
    padding: 1%;
    background-color: #FFFAF0;

}

.first-div {
    border: 2px solid #440000;
    height: 40px;
    color: #440000;
    font-size: 25px;
    padding-top: 3px;

    margin-bottom: 1%;

}

.first-div img {
    margin-left: 0;
    height: 35px;
    width: 35px;
    float: left;
    display: none;

}

.first-div h3 {
    text-align: center;

}

.bios-container {
    padding: 1

}

.bios {
    border: 2px solid #440000;
    padding: 2%;
    color: #440000;
    text-align: center;
    margin-bottom: 2%;

}

.bios img {
    width: 100px;
    height: 100px;
    padding-right: 3%;
    margin-bottom: 3%;

}

.bios h2 {
    font-size: 25px;
}

.bios p {
    font-size: 20px;
    text-align: justify;
    font-family: "Play";

}

footer {
    width: 100%;
    height: 30px;
    background-color: #440000;
    text-align: center;
    font-size: 23px;
    color: #FFFAF0;
}


@media (min-width: 600px) {
    .my-header {
        height: 30px;
    }

    .my-title {
        font-size: 25px;
    }

    .hamburguer {
        display: none;
    }

    .my-nav a {
        display: inline;
        float: right;
        text-decoration: none;
        color: #FFFAF0;
        padding-right: 1%;
        padding-top: 0.7%;
    }

    .my-nav a:hover {
        color: #440000;
        text-shadow: 0px 0px 10px #FEFFD8,
                     0px 0px 20px #FEFFD8,
                     0px 0px 30px #FEFFD8;
    }

    .first-div {
        border: 3px solid #440000;
        height: 50px;
        font-size: 33px;
        padding-top: 3px;
        margin-bottom: 1%;

    }

    .first-div img {
        margin-left: 0;
        height: 35px;
        width: 35px;
        float: left;
        display: inline;

    }

    .section-top {
        padding-top: 30px;
        padding-bottom: 3px;

    }

    .bios {
        float: left;
        width: 44.3%;
        height: 400px;
        margin-right: 2px;
        margin-left: 3px;
        overflow: auto;

    }

    .empty {
        clear: both;
    }

    footer {
        height: 40px;
        font-size: 35px;
    }

}

@media (min-width: 760px) {
    .my-header {
        height: 40px;
    }

    .my-title {
        font-size: 30px;
    }

    .hamburguer {
        display: none;
    }

    .my-nav a {
        padding-right: 1%;
        padding-top: 0.7%;
        font-size: 23px;
    }

    .first-div img {
        height: 45px;
        width: 45px;

    }

    .section-top {
        padding-top: 40px;
        height: 30px;
        padding-bottom: 3px;
        font-size: 18px;

    }

    .bios {
        width: 25%;
        height: 400px;
        margin-right: 1.8%;
        margin-left: 1.8%;

    }

    footer {
        height: 50px;
        font-size: 40px;
    }

    .empty {
        clear: both;
    }
}

@media (min-width: 1024px) {
    .my-header {
        height: 60px;
    }

    .my-title {
        font-size: 50px;
    }

    .hamburguer {
        display: none;
    }

    .my-nav a {
        padding-right: 1%;
        padding-top: 1.1%;
        font-size: 30px;
    }

    .first-div {
        height: 60px;
        font-size: 40px;
    }

    .first-div img {
        height: 57px;
        width: 57px;

    }

    .section-top {
        padding-top: 60px;
        height: 40px;
        padding-bottom: 3px;
        font-size: 23px;

    }

    .bios {
        width: 20%;
        height: 400px;
        margin-right: 0.2%;
        margin-left: 0.2%;

    }

    footer {
        height: 50px;
        font-size: 40px;
    }

    .empty {
        clear: both;
    }
}
