/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Eczar|Exo');

/*fonts end*/
/*normalize*/
body {
    margin: 0;
    padding: 0;
    background-color: #b7afbc;
    position: static;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
/*end normalize*/
header{
	height: 400px;
	width: 100%;
	background-image: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: orchid;
    font-family: 'Eczar', serif;


}

.navbar-brand {
    color: orchid;
    font-family: 'Eczar', serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #3e1853;
}

.title {
    margin-top: 150px;
    color: white;
    text-shadow: 1px 0px 10px orchid,1px 0px 10px orchid,
                1px 0px 20px orchid,1px 0px 30px orchid,
                1px 0px 40px orchid,1px 0px 50px orchid,1px 0px 60px orchid,
                0px 0px 100px orchid;
}

.navbar-nav > li > a {
    padding-right: 30px;
}

hr:empty{
	border-color:lime;
	text-decoration:
}

aside h5 {
    color: #333333;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

h1,h2{
	font-size: 50px;
    text-align: center;

}

p {
     font-family: 'Exo', sans-serif;
     font-size: 18px;
}

 .bold {
     font-weight: bold;
}
.navbar-default {
	text-align: right;
    position: fixed;
    background-color: #3e1853;
    width: 100%;
    height: 80px;
    color: silver;
    z-index: 1;
    padding-top: 15px;

}

.navbar-nav{
    float: right;
}

.navbar-toggle {
    background-color: #3e1853;
}
.navbar-default .navbar-nav > li , .navbar-default .navbar-nav > li  {
    color: orchid;
    text-decoration: none;
    background-color: #3e1853;
    background-size: cover;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav> li > a:focus {
    color: orchid;
    text-decoration: none;
    background-color: #450043;
    background-size: cover;
}

.dropdown-menu {
    color: orchid;
    text-decoration: none;
    background-color: #3e1853;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: silver;
    background-color: #450043;
}

nav li{
	font-size: 30px;
	display: inline;

}

/*aside*/
aside {
    height: 100%;
    padding-top: 20px;
    margin-top: 20px;
    border: 3px #333333 dotted;
    font-size: 18px;
    border: ;
    border-top: ;
    border-radius: ;
    border-left: ;
    border-bottom: ;
    border-right: ;
    border-color: ;

}

/*aside end*/
/*footer*/
footer {
    width: 100%;
    height: 120px;
    padding-top: 40px;
    background-color: #3e1853;
    text-align: center;
    font-family: 'Eczar', serif;
    color: silver;
    font-size: 50px;
}

footer p {
    font-size: 40px;

}
/*footer end*/
/*about me */

.mayra {
	width: 30%;
	height: auto;
	display: inline-block;
}

.font {
    width: 90%;
    height: auto;
	display: inline-block;
}

.about-text {
    font-family: 'Exo', sans-serif;
	font-size: 20px;
	width: 65%;
	height: auto;
	float: right;
}
/*about me end*/
