body>header {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  position: fixed;
  top: 15px;
}
header img {
  width: 100%;
  height: 100%;
  margin: 0px;
}
body>h1 {
  border: 1px solid blue;
  width: 100%;
  height: 30px;
  margin-top: -50px;
  position: absolute;
}
hgroup {
  width: auto;
  height: 100%;
  background-color: orange;
  margin-top: 300px;
  border: 2px solid blue;
  position: relative;
}
.one {
  width: 100%;
  height: 180px;
  margin 20px;
  background-color: red;
  float: left;
}
.one img {
  width: 40px;
  height: 40px;
  margin 5px;
  position absolute;
}
.Sara {
  width: 320px;
  height: auto;
  margin: 20px;
  border: 30px;
  float: left;
}
.Alberto {
  width: 320px;
  height: auto;
  margin: 20px;
  border: 30px;
  float: left;
}
.Isaac {
  width: 320px;
  height: auto;
  margin: 20px;
  border: 30px;
  float: left;
}
.Eddy {
  width: 320px;
  height: auto;
  margin: 20px;
  border: 30px;
  float: left;
}
.Olegario {
  width: 320px;
  height: auto;
  margin: 20px;
  border: 30px;
  float: left;
}
.Miguel {
  width: 320px;
  height: auto;
  margin: 20px;
  border: 30px;
  float: left;
}
.Axel {
  width: 320px;
  height: auto;
  margin: 20px;
  border: 30px;
  float: left;
}
.Mayra {
  width: 320px;
  height: auto;
  margin: 20px;
  border: 30px;
  float: left;
}
.Gerardo {
  width: 320px;
  height: auto;
  margin: 20px;
  border: 30px;
  float: left;
}
