body {
  background-color: aqua;
}

section {
  width: 180px;
  margin-top: 60px;
  margin-left: 20%;
  position: relative;
}

.head {
  width: 120px;
  height: 120px;
  background-color: yellow;
  border-radius: 40px;
  position: relative;
  margin: auto;
  box-shadow: 3px 3px rgb(225, 225, 0);

}

.eye-right {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 10px;
  animation-name: eyes;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;

}

.eye-left {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  right: 10px;
  animation-name: eyes;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;

}

@keyframes eyes {
  5% {
    transform: rotateX(85deg);
  }
  10% {
    transform: rotateX(0deg);
  }
}

.chin {
  width: 80%;
  height: 50px;
  background-color: olive;
  border-radius: 50%;
  position: relative;
  top: 70px;
  left: 10%;

}

.mouth {
  width: 60%;
  height: 5px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 30%;
  position: absolute;
  bottom: 15px;
  left: 19%;
  animation-name: eat-mouth;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 3;
  animation-direction: normal;

}

@keyframes eat-mouth {
  30% {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: beige;
    transform: scaleY(6.5);
    transform: scaleX(0.8);
  }

}

.nose {
  width: 25px;
  height: 25px;
  background-color: rgb(225, 225, 0);
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: 47px;

}

.ear-right {
  width: 15px;
  height: 35px;
  background-color: rgb(225, 225, 0);
  border-radius: 30%;
  position: absolute;
  top: 55px;
  left: -10px;

}

.ear-left {
  width: 15px;
  height: 35px;
  background-color: rgb(225, 225, 0);
  border-radius: 30%;
  position: absolute;
  top: 55px;
  right: -10px;

}

.hair {
  width: 60%;
  height: 50px;
  border-top: 5px solid black;
  border-radius: 30%;
  position: absolute;
  top: -6px;
  left: 20%;

}

.torso {
  width: 110px;
  height: 100px;
  background-color: beige;
  position: relative;
  margin: auto;

}

.neck {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(225, 225, 0);
  margin: auto;

}

.belly {
  width: 120px;
  height: 60%;
  position: absolute;
  left: -5px;
  bottom: 0px;
  border-radius: 40%;
  border-top: 1px solid darkgray;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  background-color: beige;
  box-shadow: 0px 0px 2px lightgray;
}

.shirt-right {
  width: 25px;
  height: 20px;
  position: absolute;
  top: -4px;
  left: 18px;
  transform: rotate(55deg);
  border-bottom: 1px solid darkgray;
  border-right: 1px solid darkgray;

}

.shirt-left {
  width: 25px;
  height: 20px;
  position: absolute;
  top: -4px;
  right: 18px;
  transform: rotate(-55deg);
  border-bottom: 1px solid darkgray;
  border-left: 1px solid darkgray;

}

.arm-left {
  width: 30px;
  height: 90px;
  position: absolute;
  top: 0px;
  right: -20px;
  background-color: yellow;
  border-top-right-radius: 15px;

}

.arm-left .sleeve {
  width: 30px;
  height: 30px;
  background-color: beige;
  border-top-right-radius: 15px;

}

.arm-left .thumb {
  width: 14px;
  background-color: yellow;
  height: 7px;
  border-radius: 40%;
  position: absolute;
  bottom: 10px;
  left: -7px;

}

.mid-finger {
  width: 34%;
  height: 7px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  bottom: 0px;
  left: 33%;

}

.arm-right {
  width: 30px;
  height: 70px;
  position: absolute;
  top: 0px;
  left: -20px;
  background-color: yellow;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  animation-name: eat-arm;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 3;
  animation-direction: normal;

}

.hand {
  width: 30px;
  height: 40px;
  z-index: 2;
  background-color: yellow;
  position: relative;
  left: 20px;
  top: 5px;
  transform: rotate(-90deg);
  animation-name: rotate-handd;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 3;
  animation-direction: normal;
}

.arm-right .thumb {
  width: 14px;
  background-color: yellow;
  height: 7px;
  border-radius: 40%;
  position: relative;
  top: 20px;
  right: -22px;

}

.arm-right .sleeve {
  width: 37px;
  height: 30px;
  background-color: beige;
  border-top-left-radius: 15px;
  animation-name: eat-sleeve;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 3;
  animation-direction: normal;

}

.donnut {
  width: 10px;
  height: 10px;
  z-index: 1;
  border-radius: 50%;
  border-color: rgb(238, 134, 143);
  border-width: 15px;
  border-style: solid;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: -50px;

}

@keyframes eat-arm {
  30% {
    transform: rotate(-45deg);
    transform-origin: 20px 0px;
  }

}

@keyframes eat-sleeve {
  30% {
    transform: rotate(15deg);
    transform-origin: 20px 0px;
    border-top-right-radius: 25px;
  }

}

@keyframes rotate-handd {
  30% {
    transform: rotate(-110deg);
    border-top-left-radius: 25px;
  }

}

.pants {
  width: 120px;
  height: 90px;
  position: relative;
  margin: auto;

}

.waist {
  width: 100%;
  height: 40%;
  position: absolute;
  border-radius: 40%;
  background-color: blue;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom: 3px solid rgb(53, 64, 96);

}

.leg-right {
  width: 40%;
  height: 75%;
  position: absolute;
  left: 0px;
  bottom: 0%;
  background-color: blue;

}

.shoe-right {
  width: 70px;
  height: 20px;
  position: absolute;
  left: -15px;
  bottom: 0%;
  background-color: rgb(57, 57, 57);
  border-top-left-radius: 25px;

}

.leg-left {
  width: 40%;
  height: 75%;
  position: absolute;
  right: 0px;
  bottom: 0%;
  background-color: blue;
  animation-name: kick;
  animation-duration: 3s;
  animation-delay: 8s;
  animation-iteration-count: 1;
  animation-direction: normal;

}

.shoe-left {
  width: 70px;
  height: 20px;
  position: absolute;
  right: -15px;
  bottom: 0%;
  background-color: rgb(57, 57, 57);
  border-top-right-radius: 30px;

}

@keyframes kick {
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
    transform-origin: 10px -10px;
  }

}

.area {
  width: 380px;
  height: 20%;
  position: absolute;
  bottom: 0px;
  left: 180px;

}

.ball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation-name: mov-ball;
  animation-duration: 3s;
  animation-delay: 8s;
  animation-iteration-count: 1;
  animation-direction: normal;

}

@keyframes mov-ball {
  5% {
    background-color: white;
    transform: translateX(0px);
  }
  30% {
    background-color: white;
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-340px);
  }
  70% {
    transform: translate(0px);
  }
  75% {
    background-color: white;
  }
  80% {
    background-color: transparent;
  }

}
