/* using import*/
@import "https://fonts.googleapis.com/css?family=Amita|Stalemate";

/* using font face to a remote url */
@font-face {
	font-family: 'Monoton';
	font-style: normal;
	font-weight: 400;
	src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v6/y6oxFxU60dYw9khW6q8jGw.woff2) format('woff2');
	}

@font-face {
	font-family: 'Ewert';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Ewert/Ewert-Regular.ttf');

	}

@font-face {
	font-family: 'NovaMono';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Nova_Mono/NovaMono.ttf');
	}

/* -------------------------------- */
.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
	color: white;
	height: 150px;
	text-align: center;
	font-family: monospace;
	font-size: 50px;
	display: inline-block;
	}

.nav-bar-title {
	font-family: Amita, cursive;
	letter-spacing: 30px;
	line-height: 25%;

	}

/* -------------------------------- */
.content {
	margin-top: 180px;
	margin-right: 5%;
	margin-bottom: 1%;
	margin-left: 5%;
	border-top: dashed 5px black;
	border-right: dashed 5px black;
	border-bottom: dashed 5px black;
	border-left: dashed 5px black;
	padding-top: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-left: 5%;

	}

.content-title {
	font-family: Amita, cursive;
	font-size: 50px;
	}

.parrafo-one {
	font-family: NovaMono, monospace;
	font-size: 40px;
	}

/* -------------------------------- */
.intro-two {
	margin-top: 5%;
	margin-right: 55%;
	margin-bottom: 1%;
	margin-left: 5%;
	border-top: solid 5px black;
	border-right: solid 5px black;
	border-bottom: solid 5px black;
	border-left: solid 5px black;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;

	}

.intro-two-title {
	font-family: Monoton, monospace;
	font-size: 50px;

	}

.parrafo-two {
	font-family: "Ubuntu Mono", monospace;
	font-size: 40px;
	}

/* -------------------------------- */
.intro-three {
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 1%;
	margin-left: 55%;
	border-top: double 5px black;
	border-right: double 5px black;
	border-bottom: double 5px black;
	border-left: double 5px black;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;

	}

.intro-three-title {
	font-family: Amita, cursive;
	font-size: 50px;
	}

.parrafo-three {
	font-family: NovaMono, monospace;
	font-size: 40px;
	}

/* -------------------------------- */
.brothers-two {
	border-collapse: collapse;
	}

/* -------------------------------- */
.intro-four {
	margin-top: 5%;
	margin-right: 33%;
	margin-bottom: 1%;
	margin-left: 33%;
	border-top: dotted 5px black;
	border-right: double 5px black;
	border-bottom: dotted 5px black;
	border-left: double 5px black;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;

	}

.intro-four-title {
	font-family: Amita, cursive;
	font-size: 50px;
	}

.parrafo-four {
	font-family: NovaMono, monospace;
	font-size: 40px;
	}

/* -------------------------------- */
.intro-five {
	margin-top: 5%;
	margin-right: 33%;
	margin-bottom: 1%;
	margin-left: 33%;
	border-top: ridge 5px black;
	border-right: ridge 5px black;
	border-bottom: ridge 5px black;
	border-left: ridge 5px black;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;

	}

.intro-five-title {
	font-family: Amita, cursive;
	font-size: 50px;
	}

.parrafo-five {
	font-family: NovaMono, monospace;
	font-size: 40px;
	}

/* -------------------------------- */