* {
    margin: 0;
    padding: 0;

}

body {
    background: linear-gradient(to bottom, white,
                                           500px, #DDDDDD,
                                           550px, white,
                                           650px, white);
}

header {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    font-size: 12px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    border-bottom: 2px solid white;

}

header h1 {
    float: left;
    font-style: italic;
    margin-left: 11%;
    margin-top: 3%;

}
.social {
    height: 50px;
    width: 30%;
    float: right;
    padding-top: 2.5%;
    margin-right: 2.5%;
}

.social img {
    float: left;
    width: 20px;
    height: 20px;
}

header img {
    margin: 2% auto;
    margin-left: 10%;
    height: 110%;
    width: 80%;

}

.main-text {
    padding-left: 10%;
    padding-right: 8%;
    height: 370px;
}

.main-text h3 {
    font-size: 25px;
    text-align: center;

}

.main-text h2 {
    font-size: 55px;
    margin-top: 1%;
    text-align: center;

}

.main-text article {
    display: inline-block;
    float: left;
    height: 100px;
    width: 31%;
    margin: 0 auto;
    margin-top: 3%;
    margin-right: 2%;
    margin-right: 2%;

}

.main-text article h3 {
    text-align: left;
    clear: right;

}

.main-text article img {
    float: left;
    width: 25px;
    height: 25px;
    padding-right: 3%;

}

.main-text article p {
    text-align: left;
    padding-top: 2%;

}

.empty {
    clear: both;
}

.portofolio {
    display: inline-block;
    padding-left: 10%;
    padding-top: 7%;
    background-color: #DDDDDD;
    padding-bottom: 5%;
    background-image: url("../images/background.jpg");
    background-size: auto;
    border-bottom: 2px #AAAAAA solid;

}

.left-pictures {
    float: left;
    width: 46%;
}

.left-pictures img {
    float: left;
    height: 240px;
    width: 260px;
    margin: 5px;
    border: 2px white solid;
    box-shadow: 0px 0px 3px grey,
                0px 0px 6px grey,
                0px 0px 9px grey,
                0px 0px 12px grey;
}

.right-picture img {
    margin-top: 5px;
    margin-right: 11%;
    width: 510px;
    height: 747px;
    border: 2px white solid;
    box-shadow: 0px 0px 3px grey,
                0px 0px 6px grey,
                0px 0px 9px grey,
                0px 0px 12px grey;
    float: right;
}

.transparent-text {
    display: inline-block;
    width: 490px;
    height: 129px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    margin-bottom: 100px;
    margin-left: 11px;
    margin-top: 605px;
    padding: 10px;
}

.transparent-text p {
    float: left;
    font-size: 12px;
    margin-top: 20px;
    width: 370px;
}

.transparent-text span {
    background-color: rgba(0, 0, 0, 0.4);
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 48px;
    margin-bottom: 64px;
    text-align: center;
    line-height: 40px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    float: left;
}

.contact {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    height: 410px;
    margin: 0 auto;
    background: linear-gradient(to bottom, white,
                                           5px, #DDDDDD,
                                           30px, white,
                                           50px, white);

}

.form {
    width: 50%;
    height: 340px;
    float: left;
}

.form input {
    width: 90%;
    height: 30px;
    margin-bottom: 15px;
    background-color: #DDDDDD;
    font-style: italic;
    box-shadow: 0px 0px 3px grey,
                0px 0px 6px grey,
                0px 0px 9px grey;

}

.form textarea {
    width: 90.5%;
    margin-bottom: 15px;
    background-color: #DDDDDD;
    box-shadow: 0px 0px 3px grey,
                0px 0px 6px grey,
                0px 0px 9px grey;

}

.form button {
    width: 100px;
    height: 30px;
    background-color: #DDDDDD;
    box-shadow: 0px 0px 3px grey,
                0px 0px 6px grey,
                0px 0px 9px grey;
    border: 2px white solid;
}

.info {
    width: 45%;
    height: 250px;
    margin-right: 50px;
    float: right;

}

.info img {
    height: 150px;
    float: left;
    padding-right: 5%;

}

.info h3 {
    font-size: 17px;
    padding-bottom: 5px;
}

.info p {
    font-size: 14px;
}

.contact-info {
    clear: both;
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 15px;

}

span {
    font-weight: bold;
    font-style: italic;

}

footer {
    padding-top: 30px;
    margin-left: 10%;
    padding-bottom: 30px;
    display: inline-block;
    width: 80%;
    border-top: 3px solid #DDDDDD;

}

footer p {
    float: left;
    padding-right: 20%;
    padding-top: 3px;

}

footer div {
    height: 30px;
    width: 20%;
    float: right;

}

footer div img {
    float: left;
    width: 20px;
    height: 20px;
    padding-left: 20px;
}
